body{
    background-color: green;
    margin-top: 70px;
}
h1{
    text-align: center;
    color: red;
    text-shadow:3px 1px 5px black;
}
#todo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numGenerado{
    width: 200px;
    height: 200px;
    text-align: center;
}
#numeroMostrado{
    margin-top: 100px;
    font-size: 400%;
}
#tableros{
    width: 80%;
    height: 400px;
    background-color: red;
    display: flex;
    gap: 20%;
}
.tablero{
    width: 40%;
    height: 100%;
    background-color: pink;
}
button{
    width: 200px;
}