.open-sans{
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body{
    background: url("imagenes-png/fondo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 70px;
}
h1{
    text-align: center;
    color: #f0e8db;
    text-shadow:3px 1px 5px black;
    font-size: 60px;
}
#todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
/*#divNUm{
    width: 300px;
    height: 300px;
    text-align: center;
}*/
#numeroMostrado{
    margin-top: 30px;
    border: 1px solid;
    background-color: #273a1a;
    color: #f0e8db;
    border-radius:50%;
    padding: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 500%;
    font-weight: 700;
}
#tableros{
    width: 70%;
    height: 500px;
    display: flex;
    gap: 4%;
}
.tablero{
    width: 35%;
    height: 100%;
    border: 2px solid black;
}
button{
    width: 150px;
    height: 30px;
    background-color: #273a1a;
    color: #f0e8db;
    border: 1px solid #f0e8db;
    border-radius: 15px;

}
input{
    height: 30px;
    width: 200px;
    background-color: #f0e8db;
    color: #273a1a;
    border: 3px solid #273a1a;
    border-radius: 10px;
    padding: 0px 5px;
}
#botonGenerar{
    width: 130px;
    height: 80px;
    margin-left: 50px;
    font-size: 20px;
}
#divComprobar{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#botonReiniciarBingo{
    margin-top: 50px;
}